/* servicesPage.css */

.services-page {
	font-family: Arial, sans-serif;
	margin: 0 auto;
	padding: 20px 60px;
	background-color: #f9f9f9;
	max-width: 1300px;
	width: 100%;
  }
  
  .services-title {
	text-align: center;
	font-size: 2rem;
	color: #333;
	margin-bottom: 30px;
  }
  
  .service-block {
	display: flex;
	align-items: flex-start;
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	padding: 20px;
  }
  
  .service-icon {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
  }
  
  .service-content {
	flex-grow: 1;
  }
  
  .service-content h2 {
	font-size: 1.5rem;
	color: #333;
	margin-bottom: 10px;
  }
  
  .service-content p {
	font-size: 1rem;
	color: #555;
	line-height: 1.5;
  }
  
  .service-content ul {
	list-style-type: none;
	padding: 0;
  }
  
  .service-content ul li {
	font-size: 1rem;
	color: #555;
  }
  
  .service-block svg {
	width: 24px;
	height: 24px;
	fill: #333;
  }
  