*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  /* list-style: none; */
  box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}




.container {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  padding: 20px 60px;
  font-family: Arial, sans-serif;
}
.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.list {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}
.navigation {
  list-style-type: none;
  padding: 0;
}
.navigation li {
  margin: 10px 0;
}
.navigation a {
  text-decoration: none;
  color: blue;
}
.navigation a:hover {
  text-decoration: underline;
}

