.main_container {
	max-width: 1300px;
	width: 100%;
	height: 100vh;
	position: relative;
	background: url('/image/gallery4.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 60px auto 0;
	padding-left: 60px;
	overflow: hidden;
}

.main_container::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	z-index: 1;
}

.main,
.main_text {
	position: relative;
	z-index: 2;
	padding: 60px 0 0 0;
	display: flex;
	flex-direction: column;
	gap: 20px;
	color: white;
}

.main h3 span {
	color: bisque;
}

.main h1 {
	font-size: 40px;
	font-weight: 700;
}

.main_text {
	max-width: 500px;
	width: 100%;
	margin-top: -30px;
}

.alatoo-moto-btn .tripsBtn-main{
	bottom: 30px;
	position: absolute;
	display: inline-block;
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	font-weight: 600;
	transition: background-color 0.3s ease;
	z-index: 2;
}



@media (max-width: 1024px) {
	.main_container {
		padding-left: 30px;
	}

	.main h1 {
		font-size: 32px;
	}

	.main_text {
		max-width: 400px;
	}
}

@media (max-width: 750px) {
	.main_container {
		padding-left: 20px;
	}

	.main h1 {
		font-size: 24px;
	}

	.main {
		padding: 40px 0 0 0;
		gap: 5px;
	}
	
	.main_text {
		max-width: 350px;
		text-align:start ;
		margin-top: -50px;
		font-size: 15px;

	}
	.main h3{
		font-size: 15px;

	}



}

@media (max-width: 480px) {
	.main_container {
		padding:0 10px;
		height: auto;
		padding-top: 10px;
	}

	.main{
		padding: 20px 0 0 0;
	}

	.main h1 {
		font-size: 16px;
	}

	.main h3 {
		font-size: 16px;
		/* text-align: center; */
	}

	 .main_text {
		font-size: 10px;
		max-width: 300px;
		height: 400px;
	}


	.alatoo-moto-btn .tripsBtn-main{
		padding: 7px 15px;
		border-radius: 5px;
		font-weight: 500;
		font-size: 15px;
	}
}

@media (max-width: 250px) {
	.main_container {
		padding: 10px;
		height: auto;
	}

	.main h1 {
		font-size: 16px;
		text-align: center;
	}

	.main h3 {
		font-size: 12px;
		text-align: center;
	}

	.main_text {
		font-size: 10px;
		text-align: center;
	}

	.alatoo-moto-btn{
	display: flex;
	justify-content: center;
	}
}