.tripsContainer {
	max-width: 1300px;
	width: 100%;
	padding: 50px 60px;
	background-color: #f9f9f9;
	margin: 0 auto;
}


.tripsContainer h2 {
	padding: 0 0 40px 0;
	display: flex;
	justify-content: center;
}

.tripsBlock {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}

.tripsCard {
	background-color: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	overflow: hidden;
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: transform 0.3s ease;
}

.tripsCard:hover {
	transform: scale(1.05);
}

.tripsImage img {
	border-bottom: 1px solid #ddd;
	border-radius: 10px 10px 0 0;
}

.tripsImage img:nth-child(1) {
	object-fit: cover;
}

.tripsContent {
	padding: 20px;
	text-align: center;
}

.tripsTitle {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 10px;
	color: #333;
}

.tripsAddress,
.tripsDate {
	font-size: 14px;
	color: #666;
	margin-bottom: 10px;
}

.tripsBtn {
	display: inline-block;
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	font-weight: 600;
	transition: background-color 0.3s ease;
}

.tripsBtn:hover {
	background-color: #0056b3;
}



@media(max-width:700px) {
	.tripsContainer {

		padding: 25px 40px;

	}
}

@media (max-width: 450px) {
	.tripsContainer {
		padding: 18px 10px;
	}


}


@media (max-width: 350px) {
	.tripsContent{
		padding: 10px;
	}

	.tripsTitle{
		font-size: 15px;

	}

	.tripsAddress{
		font-size: 13px;
	}

	.tripsBtn{
		padding: 5px 10px;
	}
}