.container-contact {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.contact-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.map {
    max-width: 400px;
    width: 100%;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
}

.iframe-map {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
}

.contact-details {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.8;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.email-link {
    color: blue;
    text-decoration: none;
}

.email-link:hover {
    text-decoration: underline;
}

.working-hours {
    list-style-type: circle;
    margin-left: 20px;
    color: #555;
}

.back-link {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: blue;
}

.back-link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 860px) {
    .contact-details {
        font-size: 14px;
    }

    .map {
        max-width: 300px;
        height: 250px;
    }
}

@media screen and (max-width: 670px) {
    .container-contact .title {
        font-size: 26px;
        margin-bottom: 12px;
    }

    .contact-block {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .container-contact .title {
        font-size: 20px;
        margin-bottom: 10px;
        padding: 10px;
    }

    .contact-details {
        font-size: 12px;
        white-space: nowrap;
    }
}

@media screen and (max-width: 300px) {
    .contact-details {
        font-size: 10px;
        white-space: nowrap;
    }
}
